.pong-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: inherit;
  z-index: 0;
}

.pong-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 