/* .help-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  @apply 
}

.help-section {
  margin-bottom: 2rem;
}

.help-intro {
  color: #666;
  margin-bottom: 2rem;
}

.help-list {
  list-style-type: disc;
  padding-left: 0;
}

.help-item {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
}

.help-link {
  color: #007bff;
  text-decoration: none;
}

.help-link:hover {
  text-decoration: underline;
}  */

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.help-container {
  @apply max-w-[800px] mx-auto my-0 p-5;
  @apply;
}
.help-section {
  @apply mb-8;
}
.help-intro {
  @apply text-[#666] mb-8;
}
.help-list {
  @apply list-disc pl-0;
}
.help-item {
  @apply rounded mb-4 p-2;
}
.help-link {
  @apply text-[#007bff] no-underline hover:underline;
}
